{% extends "base.html" %}

{% block content %}

  <h1>作業ログ編集</h1>

  <form action="/posts-page/{{ post.id }}/edit" method="post">
    <label>作業ログ</label>
    <textarea name="content">{{ post.content }}</textarea>

    <label>開始時刻</label>
    <input
      type="datetime-local"
      name="start_time"
      value="{{ post.start_time.strftime('%Y-%m-%dT%H:%M') }}"
    >

    <label>終了時刻</label>
    <input
      type="datetime-local"
      name="end_time"
      value="{{ post.end_time.strftime('%Y-%m-%dT%H:%M') }}"
    >

    <button type="submit">更新する</button>
  </form>

  <p>
    <a href="/works-page/{{ post.work_id }}">成果物詳細へ戻る</a>
  </p>
  
{% endblock %}