{% extends "base.html" %}

{% block content %}

<h1>{{ post.title }} を編集</h1>

<form
  action="/posts-page/{{ post.id }}/edit"
  method="post"
  class="form-card"
>

  <div class="form-group">
    <label>作業ログ</label>
    <textarea
      class="form-textarea"
      name="content"
    >{{ post.content }}</textarea>
  </div>

  <div class="form-group">
    <label>開始時刻</label>
    <input
      class="form-input"
      type="datetime-local"
      name="start_time"
      value="{{ post.start_time.strftime('%Y-%m-%dT%H:%M') }}"
    >
  </div>

  <div class="form-group">
    <label>終了時刻</label>
    <input
      class="form-input"
      type="datetime-local"
      name="end_time"
      value="{{ post.end_time.strftime('%Y-%m-%dT%H:%M') }}"
    >
  </div>

  <button
    type="submit"
    class="primary-button"
  >
    更新する
  </button>

</form>

<a href="/posts-page/{{ post.id }}" class="btn-back">
  詳細へ戻る
</a>

{% endblock %}