<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Freelance Blog Service</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Freelance Blog Service</h1>
    <p>開発ログ・進捗共有・技術記事を可視化するブログサービスです。</p>

    <hr>

    <h2>新規投稿</h2>

    <form action="/posts-page" method="post">
    <div>
        <label>タイトル</label><br>
        <input type="text" name="title">
    </div>

    <div>
        <label>本文</label><br>
        <textarea name="content"></textarea>
    </div>

    <div>
        <label>作業種別</label>
        <input type="text" name="task_type">
    </div>

    <div>
        <label>開始時刻</label>
        <input type="datetime-local" name="start_time">

        <label>終了時刻</label>
        <input type="datetime-local" name="end_time">
    </div>

    <div>
    <label>関連Work</label><br>
    <p><a href="/works-page">新規Workを登録する</a></p>
    <select name="work_id">
        <option value="">選択なし</option>
        {% for work in works %}
        <option value="{{ work.id }}">{{ work.title }}</option>
        {% endfor %}
    </select>
    </div>
    

    <button type="submit">投稿する</button>
    </form>

    <hr>    

    {% for post in posts %}
    <div class="post-card">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content[:120] }}...</p>
        <p>作業種別: {{ post.task_type }}</p>
        <p>作業時間: {{ post.work_time_minutes }}分</p>

        <a href="/posts-page/{{ post.id }}/edit">編集</a>

        <form action="/posts-page/{{ post.id }}/delete" method="post">
        <button type="submit">削除</button>
        </form>

        <a href="/posts-page/{{ post.id }}">詳細を見る</a>
    </div>
    {% endfor %}    
</body>
</html>