{% extends "base.html" %}

{% block content %}

  <div class="section-header">
      <h2 class="section-title">
        成果物一覧
      </h2>

      <nav>
          <a href="/works-page/new">新規成果物を登録する</a>
      </nav>
  </div>

  <div class="work-grid">
    {% for work in works %}

      <a href="/works-page/{{ work.id }}" class="work-card">
        {% if work.image_url %}
          <img src="{{ work.image_url }}" class="work-thumbnail">
        {% endif %}      
        <h2>{{ work.title }}</h2>
        <p class="work-description">{{ work.description }}</p>
        <div class="tech-tags">
            {% for tech in work.tech_stack.split(",") %}
                <span class="tech-tag">
                    {{ tech.strip() }}
                </span>
            {% endfor %}
        </div>

        <div class="work-stats">
          <p><strong>作業ログ:</strong> {{ work.post_count }}件</p>
          <p><strong>総作業時間:</strong> {{ work.total_hours }}時間{{ work.remaining_minutes }}分</p>
        </div>
      </a>

    {% endfor %}
  </div>

{% endblock %}