{% extends "base.html" %}

{% block content %}

<h2 class="section-title">成果物詳細</h2>
<h3 class="work-page-title">{{ work.title }}</h3>

<a href="/works-page" class="back-link">
  ← 成果物一覧へ戻る
</a>

<section class="work-hero">
  {% if work.image_url %}
    <img src="{{ work.image_url }}" class="work-hero-image">
  {% endif %}

  <div class="work-hero-content">
    <h1>{{ work.title }}</h1>

    <p class="work-description">
      {{ work.description }}
    </p>

    <div class="tech-tags">
      {% for tech in work.tech_stack.split(",") %}
        <span class="tech-tag">{{ tech.strip() }}</span>
      {% endfor %}
    </div>

    <div class="work-stats">
      <p><strong>開発ログ:</strong> {{ posts|length }}件</p>
      <p><strong>総作業時間:</strong> {{ total_hours }}時間{{ remaining_minutes }}分</p>
    </div>

    <div class="work-actions">
      <a href="{{ work.github_url }}">GitHub</a>
      <a href="{{ work.app_url }}">公開URL</a>
      <a href="/works-page/{{ work.id }}/edit">成果物を編集する</a>
    </div>
  </div>
</section>


<div class="section-header">
    <h2>開発ログ（{{ posts|length }}件）</h2>

    <a href="/posts-page/new?work_id={{ work.id }}"
       class="primary-button">
        作業ログを追加する
    </a>
</div>

<div class="timeline">
  {% for post in posts %}
    <div class="timeline-item">
      <div class="timeline-marker"></div>

        <div class="timeline-card clickable-card"
            onclick="location.href='/posts-page/{{ post.id }}'">
            <h3>{{ post.title }}</h3>

            <p class="log-excerpt">
                {{ post.content[:80] }}...
            </p>

            <div class="timeline-meta">
            <p>⏱ 作業時間: {{ post.work_time_minutes }}分</p>

            {% if post.start_time.date() == post.end_time.date() %}
                <p>📅 作業日: {{ post.start_time.strftime('%Y.%m.%d') }}</p>
                <p>
                🕐 時間帯:
                {{ post.start_time.strftime('%H:%M') }}
                〜
                {{ post.end_time.strftime('%H:%M') }}
                </p>
            {% else %}
                <p>
                📅 作業期間:
                {{ post.start_time.strftime('%Y.%m.%d %H:%M') }}
                〜
                {{ post.end_time.strftime('%Y.%m.%d %H:%M') }}
                </p>
            {% endif %}
            </div>

            <div class="timeline-actions">
                <a href="/posts-page/{{ post.id }}">詳細を見る</a>
                <a href="/posts-page/{{ post.id }}/edit">編集</a>

                <form action="/posts-page/{{ post.id }}/delete" method="post">
                    <button type="submit">削除</button>
                </form>
            </div>      
        </div>
    </div>
  {% endfor %}
</div>

{% endblock %}